#root {
  /* display: flex;
  align-items: center;
  background: var(--Basic-White, #fff);
  flex-direction: column;
  position: relative; */
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
