:root {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-7: #222222;
  --color-gray-6: #444444;
  --color-gray-5: #888888;
  --color-gray-4: #bdbdbd;
  --color-gray-3: #dddddd;
  --color-gray-2: #e9e9e9;
  --color-gray-1: #f3f3f3;

  --color-success-light: #e3f2ef;
  --color-success: #00a881;
  --color-warning-light: #fee9d7;
  --color-warning: #f57d14;
  --color-danger-light: #fdd8db;
  --color-danger: #f5535e;

  --color-primary-dark: #3c74b9;
  --color-primary-normal: #509bf7;
  --color-primary-light-active: #c9e0fd;
  --color-primary-light: #f4f9ff;

  --color-default: #222222;
  --color-caption: #888888;
  --color-disabled: #bdbdbd;
  --color-empty: #bdbdbd;
  --color-white: #ffffff;

  /* bold 서체 */
  .bold-36 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-32 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-28 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-24 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-20 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-18 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-16 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-14 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 100%;
  }
  .bold-12 {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 100%;
  }

  /* semi-bold 서체 */
  .semi-bold-16 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
  }

  /* medium 서체 */
  .medium-18 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%;
  }
  .medium-16 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
  }

  /* regular 서체 */
  .regular-16 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
  }
  .regular-14 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 100%;
  }
  .regular-12 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
  }
  .regular-10 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
  }
}

body {
  display: flex;
  background: var(--Basic-White, #fff);
  max-width: 429px;
  min-height: 100dvh;
  font-family: 'Pretendard';
  font-style: normal;
  margin: 0 auto;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2');
}
